:root {
  --color-dark: #0a0908;
  --color-blue-dark: #22333b;
  --color-beige-light: #eae0d5;
  --color-beige-dark: #c6ac8f;
  --color-brown: #5e503f;
  --color-green-screen: #162a35;
  --color-green-text: #7effa5;
  --color-gray-btn: #6d6d65;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.francois-one-regular {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.host-grotesk-footer {
  font-family: "Host Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

body {
  background-color: var(--color-beige-light);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: 2rem;
  height: 45vh;
}

.banner {
  /* display: flex; */
  position: relative;
  width: 100vw;
  height: 20vh;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubre el contenedor sin deformarse */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Mantiene la imagen detrás del texto */
}

.banner span {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0%, -50%);
  /*Centraeltexto*/
  color: white;
  /*Oelcolorqueprefieras*/
  font-family: "Francois One", sans-serif;
  font-size: 10vw;
  /*Tamañodefuenterelativoalanchodelviewport*/
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

nav {
  background-color: var(--color-green-screen);
  margin: 1.5vh 0vw;
  padding: 2vh 2vw;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
}

.botonNav {
  display: block;
  font-family: "VT323", monospace;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.75rem;
  color: var(--color-green-text);
  text-decoration: none;
  background-color: var(--color-gray-btn);
  width: 7rem;
  height: auto;
  margin: 0.01rem 1rem;
  padding: 0.3rem 0.3rem;
}

.botonEmer {
  background-image: url("../images/ALTERT BACK.png"); /* Ruta de la imagen de fondo */
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-color: transparent;
  justify-content: flex-end;
}

.cuerpoHome {
  display: flex;
}

.index {
  display: flex;
  height: 40vh;
}

.index ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.index li {
  position: relative;
  padding-left: 2rem;
  /*Espacioparaelmarcadorpersonalizado*/
}

.index li a {
  font-family: "VT323", monospace;
  font-size: 1.75rem;
  font-weight: 400;
  font-style: normal;
  color: var(--color-green-text);
  background-color: var(--color-dark);
  border-radius: 0.5rem;
  padding-left: 1rem; /* Este padding afecta tanto el texto como el fondo */
  display: inline-block; /* Permite ajustar el fondo solo al contenido */
  text-decoration: none;
  width: 12rem;
}

.index li a:focus {
  outline: 2px solid transparent; /* Elimina el contorno de enfoque en el enlace */
}

.index li::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDI2IDI2Ij4KICA8ZyBpZD0iQk9UT05fRk9STVVMQVJJTyIgZGF0YS1uYW1lPSJCT1RPTiBGT1JNVUxBUklPIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTk4LjY4NCAtNTUyLjY4NCkiPgogICAgPGcgaWQ9IkVsbGlwc2VfMSIgZGF0YS1uYW1lPSJFbGxpcHNlIDEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE5OC42ODQgNTUyLjY4NCkiIGZpbGw9IiM3ZWZmYTUiIHN0cm9rZT0iIzcwNzA3MCIgc3Ryb2tlLXdpZHRoPSIxIj4KICAgICAgPGNpcmNsZSBjeD0iMTMiIGN5PSIxMyIgcj0iMTMiIHN0cm9rZT0ibm9uZSIvPgogICAgICA8Y2lyY2xlIGN4PSIxMyIgY3k9IjEzIiByPSIxMi41IiBmaWxsPSJub25lIi8+CiAgICA8L2c+CiAgICA8Y2lyY2xlIGlkPSJFbGxpcHNlXzIiIGRhdGEtbmFtZT0iRWxsaXBzZSAyIiBjeD0iMTEiIGN5PSIxMSIgcj0iMTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwMC42ODQgNTU0LjY4NCkiIGZpbGw9IiMyMjMzM2IiLz4KICA8L2c+Cjwvc3ZnPg==");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.textToRead {
  padding-left: 2rem;
  width: auto;
  height: 50vh;
  overflow-y: auto; /* Activa el desplazamiento vertical */
  padding-right: 2rem;
}

.textToRead * {
  font-family: "Francois One", sans-serif;
  font-size: 1.75rem;
  color: var(--color-blue-dark);
}

.textToRead h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.textToRead h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.textToRead p {
  margin-bottom: 4rem;
}

.textToRead ul {
  margin-left: 2rem;
}

footer {
  background-color: var(--color-brown);
  font-family: "Host Grotesk", serif;
  font-style: bold;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .separador {

} */

.barra1 {
  width: 100vw;
  height: 1rem;
  background-color: var(--color-blue-dark);
}

.barra2 {
  width: 100vw;
  height: 0.2rem;
  background-color: var(--color-green-text);
}

.textoFooter {
  text-align: center; /* Alineación del texto */
  padding: 1rem 0%; /* Espaciado interno */
  color: white;
  opacity: 30%;
}

form label {
  display: inline-block;
  font-family: "VT323", monospace;
  font-size: 2rem;
  color: var(--color-green-text);
  background-color: var(--color-green-screen);
  border-radius: 5px;
  padding: 0.01rem 0.5rem;
  width: 14rem;
  height: 2rem;
}

form input {
  width: 18rem;
  height: 2rem;
  align-items: normal;
  display: inline;
  margin-left: 2rem;
}

form textarea {
  margin-left: 2rem;
}

.btnEnvio {
  display: flex;
  justify-content: center;
}
.button {
  font-family: "VT323", monospace;
  font-size: 2rem;
  color: var(--color-green-text);
  background-color: var(--color-green-screen);
  border-radius: 5px;
  padding: 0.01rem 0.5rem;
  width: 14rem;
  text-align: center;
}

.campos {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

.grid-container {
  display: grid;
  max-width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;

  margin-top: 1rem;
  margin-bottom: 1rem;

  overflow: hidden;
}

.grid-item {
  display: flex;
  flex-direction: column;
  height: 3fr;
}

.grid-item p {
  font-family: "VT323", monospace;
  font-size: 1rem;
  font-weight: 200;
  font-style: normal;
  color: var(--color-green-text);
  background-color: var(--color-green-screen);
  margin-top: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  height: 2rem;
}

.grid-card {
  display: flex;
  flex-direction: column;
  height: 3fr;
}

.card-name {
  font-family: "VT323", monospace;
  font-size: 2rem;
  font-weight: 200;
  font-style: normal;
  color: var(--color-green-text);
  background-color: var(--color-green-screen);
  margin-top: 0.5rem;
  text-align: center;
  /*padding: 0.3rem 0.5rem;*/
  border-radius: 4px;
  height: 2rem;
}

.card-image {
  width: 100%;
  height: 50%;
}
