:root {
  --color-dark: #0a0908;
  --color-blue-dark: #22333b;
  --color-beige-light: #eae0d5;
  --color-beige-dark: #c6ac8f;
  --color-brown: #5e503f;
  --color-green-screen: #162a35;
  --color-green-text: #7effa5;
  --color-gray-btn: #6d6d65;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.francois-one-regular {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

body {
  background-color: var(--color-beige-light);
}

.banner {
  /* display: flex; */
  position: relative;
  width: 100vw;
  height: 20vh;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubre el contenedor sin deformarse */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Mantiene la imagen detrás del texto */
}

.banner span {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0%, -50%);
  /*Centraeltexto*/
  color: white;
  /*Oelcolorqueprefieras*/
  font-family: "Francois One", sans-serif;
  font-size: 10vw;
  /*Tamañodefuenterelativoalanchodelviewport*/
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

nav {
  background-color: var(--color-green-screen);
  margin: 1.5vh 0vw;
  padding: 2vh 2vw;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
}

.botonNav {
  display: block;
  font-family: "VT323", monospace;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.75rem;
  color: var(--color-green-text);
  text-decoration: none;
  background-color: var(--color-gray-btn);
  width: 7rem;
  height: auto;
  margin: 0.01rem 1rem;
  padding: 0.3rem 0.3rem;
}

.botonEmer {
  background-image: url("PreEntrega/images/ALTERT BACK.png"); /* Ruta de la imagen de fondo */
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-color: transparent;
  justify-content: flex-end;
}

main {
  margin: 2rem;
  height: 45vh;
}

.cuerpoHome {
  display: flex;
}

.index {
  height: 50vw;
}

.index ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
}

h1 {
  color: blue;
  background-color: cadetblue;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
